<div class="container">
    <span>Angular Reactive Form</span>
    <form [formGroup]="login">
      <div class="row">
        <div>
          <label><b>Name</b><span class="text-danger">*</span></label
          ><br />
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Full Name" formControlName="name" />
            <mat-error> Enter your name </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <label><b>Username</b><span class="text-danger">*</span></label
          ><br />
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="username" formControlName="Username" />
            <mat-error> Enter your userName</mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <label><b>Pancard</b><span class="text-danger">*</span></label
          ><br />
          <mat-form-field>
            <mat-label>Pancard</mat-label>
            <input matInput placeholder="NNNNN0000N" formControlName="pancard" />
            <mat-error *ngIf="login.controls['pancard']?.errors?.required">
              Enter the pan card details</mat-error
            >
            <mat-error
              *ngIf="
                login.controls['pancard']?.errors?.pattern ||
                login.controls['pancard']?.errors?.touched
              "
            >
              please enter valid Pan No.</mat-error
            >
          </mat-form-field>
        </div>
  
        <div>
          <label><b>Aadhar Card</b><span class="text-danger">*</span></label
          ><br />
          <mat-form-field>
            <mat-label>Aadhar Card</mat-label>
            <input
              matInput
              placeholder="1234 5678 8908"
              formControlName="aadharcard"
            />
            <mat-error *ngIf="login.controls['aadharcard']?.errors?.required">
              Enter the aadhar card details</mat-error
            >
            <mat-error *ngIf="login.controls['aadharcard']?.errors?.pattern">
              please enter valid aadhar No.</mat-error
            >
          </mat-form-field>
        </div>
  
        <div>
          <label><b>Phone Number</b><span class="text-danger">*</span></label
          ><br />
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="+91 2345-2345-23"
              formControlName="number"
            />
            <mat-error *ngIf="login.controls['number']?.errors?.required">
              Enter the phone No.</mat-error
            >
            <mat-error *ngIf="login.controls['number']?.errors?.pattern">
              Please enter valid phone No.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="login.invalid"
        (click)="onsubmit()"
      >
        submit
      </button>
    </form>
  </div>