<!-- <app-header></app-header> -->

<button class="header-option" mat-raised-button  type="button" routerLink="/pages">BACK</button>


<div class="container">
    <div class="text">File Upload App</div>
    <div class="body">
        <mat-form-field class="mb-3 col-12  inp">
            <mat-label>Attach File*</mat-label>
            <input matInput  readonly />
            <div class="im_count">
                <label class="btn btn-primary" for="uploadFile">Upload File +</label>
                <span>{{ imageUrls.length }} Files</span>
                <input type="file" id="uploadFile" name="uploadFile" accept="image/*" (change)="previewImages($event)" [value]="imageName" multiple />
            </div>
            
            <!-- <input type="file"  name="uploadFile" accept="image/*" (change)="previewImages($event)" [value]="imageName" multiple /> -->
            <!-- <label for="fileCount"></label> -->
        </mat-form-field>

        <div id="imagePreview">
            <div class="images" *ngFor="let imageUrl of imageUrls ; let i=index">
                <img  alt="" [src]="imageUrl">
                <button type="button" (click)="delete(i)">X</button>
            </div>
        </div>
        <!-- <button class="submit" type="button" class="btn-primary"> upload</button> -->
    </div>
</div>

<!-- {{fileCountElement}}files -->



<hr>

