<div>
    <mat-toolbar color="primary">
        <!-- <button type="button" routerLink="lifecycle">hoooks</button> -->
        <button class="header-option" mat-raised-button type="button" routerLink="pages/date">D&T</button>
        <button class="header-option" mat-raised-button type="button" routerLink="multitasking">Dropdown</button>
        <button class="header-option" mat-raised-button type="button" routerLink="fileupload">fileupload</button>
        <button class="header-option" mat-raised-button type="button" routerLink="parent">lifecycle</button>
    </mat-toolbar>
</div>