<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button type="button" routerLink="lifecycle">hoooks</button>
      <button type="button" routerLink="date">D&T</button>
      <button type="button" routerLink="multitasking">Dropdown</button>
      <button type="button" routerLink="fileupload">fileupload</button>
      <button type="button" routerLink="parent">lifecycle</button>
    </mat-toolbar>
  </p>